@page
@model ASPProjekt.Pages.ManageUsersModel
@{
    ViewData["Title"] = "Manage Users";
}

<h1>Manage Users</h1>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Users[0].UserName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Users[0].Email)
                </th>
                <th>
                    Is Organizer
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model.Users)
            {       
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        <form method="post">
                            @{ await Model.IsOrganizerAsync(item); }
                            <input asp-for="IsOrganizer" onchange="submit()" />
                            <input type="hidden" name="username" value="@item.UserName"/>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
